.section {
  min-height: 100vh;

  &.section-01 {
    .section-content {

      padding: 200px 0;
      display: flex;
      flex-direction: column;

      justify-content: flex-start;
      width: 50%;

    }
  }
  &.section-02 {
    .section-content {
      justify-content: flex-start;
      padding-top: 100px;

      display: flex;

      .content-block {
        max-width: 40%;
        width: 40%;
      }

    }
  }
  //#section-02-content {
  //  opacity: 0;
  //}
  &.section-03 {
    .section-content {
    justify-content: flex-end;
      padding-top: 100px;

      display: flex;

      .content-block {
        max-width: 40%;
        width: 40%;
      }

    }
  }
  &.section-04 {
    background-color: #323232;
    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 200px;




      .content-block {
        width: 57%;
        h2,p {
          color: white;
        }
        .btn-block {
          display: flex;
        .customize-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 50px;
          height: 50px;
          width: 200px;
          &:focus {
            outline: none;
          }
        }

        }
      }

    }
  }

}
.footer {
  background-color: #323232;
  height: 50px;
  padding-bottom: 20px;
  border-top: 1px solid black;
  .footer-content {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;

  }
  .content-block {
    p {
      color: white;
      font-size: 14px;
    }

  }
}